<div class="blocks">
    <div class="block padding-right">
        <div class="inner">
            <h2>
                Book a session
            </h2>
            <p>
                To book a session with me, simply find a date and time that works for the both of us in my calendar. No fees, no strings attached.
            </p>
            <p>
                <a href="https://calendly.com/ellenli" id="view-calendar">Book a 30 minute session with me &rarr;</a>
            </p>
        </div>
    </div>
    <div class="block padding-left">
        <div class="inner">
            <h2>
                Previous sessions
            </h2>
            <p>
                Coming soon!
            </p>
        </div>
    </div>
</div>
