<div class="blocks">
    <div class="block padding-right">
        <div class="inner">
            <h2>
                Book a session
            </h2>
            <p>
                To book a session with me, simply find a date and time that works for the both of us in my calendar. No fees, no strings attached.
            </p>
            <p>
                <a href="https://calendly.com/adamwhitcroft">Book a 30 minute session with me &rarr;</a>
            </p>
        </div>
    </div>
    <div class="block padding-left">
        <div class="inner">
            <h2>
                Previous sessions
            </h2>
            <ul>
                {% for session in site.data.sessions limit:3 %}
                <li>
                    <a href="{{ session.url }}">{{ session.name }}</a> &ndash; {{ session.date }}
                </li>
                {% endfor %}
            </ul>
            <p>
                <a href="https://soundcloud.com/adamwhitcroft/sets/openmentorship">Full archive &rarr;</a>
            </p>
        </div>
    </div>
</div>
