/*
    Doc
*/

html {
    font-family: $font-family-sans;
    background: $color-background;
    color: $color-main;
    line-height: 1.5em;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrap {
    max-width: 50em;
    margin: 0 auto;
    padding: $spacing * 2;

    @media screen and (max-width: $breakpoint-s) {
        padding: $spacing;
    }

}

/*
    Header
*/

header {
    text-align: center;
    padding: 0 0 $spacing 0;

    img {
        height: 150px;
        width: 200px;
        margin-bottom: $spacing;

        @media screen and (max-width: $breakpoint-s) {
            width: 100px;
            height: 75px;
        }

    }

    h1 {
        @extend .font-size-xl;
        margin: 0;

        @media screen and (max-width: $breakpoint-s) {
            font-size: $font-size-l;
        }

    }

}

/*
    Attention
*/

.attention {
    @extend .font-size-l;
    margin-left: -3em;
    margin-right: -3em;

    @media screen and (max-width: $breakpoint-m) {
        margin-left: -1em;
        margin-right: -1em;
    }

    @media screen and (max-width: $breakpoint-s) {
        margin-left: 2em;
        margin-right: 2em;
    }

}

/*
    Blocks
*/

.blocks {
    display: table;
    border-bottom: 2px solid $color-main;

    h2,p,a {
        @extend .font-size-s;
    }

    h2 {
        margin-top: 0;
    }

    .block {
        display: table-cell;
        width: 50%;

        div {
            border-top: 2px solid $color-main;
        }

        .inner {
            padding: $spacing 0;
        }

        &.padding-left {
            padding-left: 1em;
        }

        &.padding-right {
            padding-right: 1em;
        }

        p:last-of-type {
            margin-bottom: 0;
        }

        @media screen and (max-width: $breakpoint-s) {
            display: block;
            width: 100%;

            &.padding-left,
            &.padding-right {
                padding-left: 0;
                padding-right: 0;
            }

        }

    }

}

/*
    Footnotes
*/

.footnotes {
    padding: $spacing 0;

    ol {
        @extend .font-size-s;
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        padding-left: .5em;
    }

}

/*
    Footer
*/

footer {
    padding: 2em 0 0 0;
    width: 50%;
    border-top: 2px solid $color-main;

    @media screen and (max-width: $breakpoint-s) {
        width: 100%;
    }

    p {
        @extend .font-size-s;
        margin: 0;
    }

}
