/*
    TYPE
*/

h1,h2,h3 {
    font-family: $font-family-sans;
    font-weight: bold;
}

h1,h2,h3,p,ul {
    line-height: 1.5em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 900;
    font-size: 0.8em;
    letter-spacing: 1px;
    line-height: 0.8em;
    text-transform: uppercase;
    margin: 25px 0px 25px 0px;
    color: #666;
    opacity: 0.5;
}
.font-size-xl   { font-size: $font-size-xl; }
.font-size-l    { font-size: $font-size-l; }
.font-size-m    { font-size: $font-size-m; }
.font-size-s    { font-size: $font-size-s; }

a {
    color: $color-accent;
    text-decoration: none;
    border-bottom: 0px solid $color-accent;
}

.attention {
    text-align: center;
    color: $color-accent;
    font-family: $font-family-serif;
}
