/*
    VARIABLES
*/

/* Colours */
$color-main: rgba(0, 0, 0, .6);
$color-background: #fff;
$color-accent: #5CA2B9;

/* Fonts */
$font-family-sans: 'Lato', -apple-system, BlinkMacSystemFont,'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$font-family-serif: georgia, times, 'times new roman', serif;

/* Font size */
$font-size-xl: 48px;
$font-size-l: 24px;
$font-size-m: 20px;
$font-size-s: 16px;

/* Responsive */
$breakpoint-m: 960px;
$breakpoint-s: 720px;

/* Spacings */
$spacing: 2em;
